* {
    font-family: sans-serif;
}

header {
    display: flex;
    padding: 4%;
    background-color:rgb(239, 146, 140);
    color: rgb(255, 254, 254);
  }

  header h1 {
    text-align: center;
    flex-wrap: wrap;
    margin-top: -18px;
    font-size: 28px;
  }

  #search-bar {
    position: relative;
    width: 350px;
    height: 50px;
    padding: 0 20px;
    margin-left: 10%;
    margin-top: -24px;
    box-sizing: border-box;
    font-size: 24px;
    border: 1px solid rgb(255, 254, 254);
    border-radius: 25px;
    transition:all 0.3s ease-in-out;
    background-color: rgb(198, 207, 255);
    opacity: .7;
  }

  #search-bar:hover {
    background-color:aliceblue;
    border-color: aliceblue;
    box-shadow: 0 36px 72px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    opacity: .99;
  }
  
  #search-bar input[type="text"] {
    width: 100%;
    height: 100%;
    padding: 0 50px 0 10px;
    font-size: 18px;
    box-sizing: border-box;
    outline: none;
    border: none;
    background: transparent;
    color: rgb(0, 0, 0);
  }
  
  #search-bar input[type="submit"] {
    cursor: pointer;
    font-size: 70%;
  }
  

#foundPlaces {
  border-radius: 1%;
}

#suggestedPlaces {
  border-radius: 1%;
}

table {
  border-collapse:collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color:rgb(247, 204, 201);
  border-color: aliceblue;
  box-shadow: 0 36px 72px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


/* Style the tab */
.tab {
  color: aliceblue;
  margin-left: 35%;
  margin-top: -25px;
}
/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: right;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(236, 139, 139);
  border-radius: 27%;
}
/* Create an active/current tablink class */
.tab button.active {
  background-color: rgb(189, 188, 241);
  color: aliceblue;
  border-radius: 9%;
}
/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
    height: 100%;
    border-radius: 3%;
    margin: 3%;
    box-shadow: 0 12px 36px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  